<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3 style="color:rgb(255, 0, 128);">Add bike</h3>
    <form method="POST">
        <div><input type="text" placeholder="e.g Honda" name="Model"></div>
        <div><input type="number" placeholder="e.g 100000" name="Daily fee"></div>
        <div><input type="text" placeholder="e.g https://giaxe.2banh.vn/cache/dataupload/products/slides/520_368_c54fe278d3ec84fe673a80106b7d08c2.jpg" name="Image"></div>
        <div><input type="number" placeholder="e.g 2013" name="Year"></div>
        <div><input type="submit" value="Submit" style="background-color:rgb(255, 192, 231)"></div>
    </form>
</body>
</html>