<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    body{text-align: center}
    </style>
</head>
<body>
    <h3 style="color: palevioletred">ADD FOOD</h3>
    <form method="POST">
        <div></div>
        <div></div>
        <div><input type="text" title="food" name="name"></div>
        <div><input type="number" title="price" name="price"></div>
        <div><button style="background-color: palevioletred">Submit</button></div>
    </form>
</body>
</html>