<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            text-align: center
            }
    </style>
</head>
<body>
    <h3 style="color:palevioletred">LOGIN</h3>
    <form method="POST">
        username
        <div><input type="text" title="username" name="username"></div>
        <div>password</div>
        <div><input type="password" title="paaword" name="password"></div>
        <div><button style="background-color:palevioletred">Confirm</button></div>
    </form>
</body>
</html>